<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello, World! - A-Frame</title>
  <meta name="description" content="Hello, World! - A-Frame">
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-environment-component@1.2.0/dist/aframe-environment-component.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ui.css" media="screen" />
</head>

<body>

  <div class="mainUI" id="uiDiv" oncontextmenu="return false;">
    <!-- centered -->
    <div class="regionUI">
      <div class="buttonUI">
        <img src="https://raw.githubusercontent.com/stemkoski/A-Frame-Examples/master/images/buttons/enter.png"
          id="buttonEnter" />
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="./js/index.js"></script>

  <a-scene environment="preset: dream;" start>
    <a-entity id="rig" position="25 3 0">
      <a-entity id="camera" camera look-controls></a-entity>
    </a-entity>
    <!-- <a-assets>
      <img id="pink" src="https://img.gs/bbdkhfbzkk/stretch/http://i.imgur.com/1hyyIUi.jpg" crossorigin="anonymous" />
      <img src="https://img.gs/bbdkhfbzkk/stretch/https://i.imgur.com/25P1geh.png" id="grid" crossorigin="anonymous">
      <img src="https://img.gs/bbdkhfbzkk/2048x1024,stretch/http://i.imgur.com/WMNH2OF.jpg" id="chrome"
        crossorigin="anonymous">
      <img id="sky" src="https://img.gs/bbdkhfbzkk/2048x2048,stretch/http://i.imgur.com/WqlqEkq.jpg"
        crossorigin="anonymous" />
      <a-asset-item id="dawningFont"
        src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2FdawningOfANewDayRegular.typeface.json?1490305922844">
      </a-asset-item>
      <a-asset-item id="exoFont"
        src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2Fexo2Black.typeface.json?1490305922150">
      </a-asset-item>
      <a-asset-item id="exoItalicFont"
        src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2Fexo2BlackItalic.typeface.json?1490305922725">
      </a-asset-item>
    </a-assets>

    <a-entity position="-3 1 -6" rotation="5 0 0">
      <a-entity rotation="0 0 5" position="0 2 0.2"
        text-geometry="value: Virtual Reality; font: #dawningFont; bevelEnabled: true; bevelSize: 0.05; bevelThickness: 0.05; curveSegments: 12; size: 1; height: 0;"
        material="color:lavenderblush; metalness:1; roughness: 0; sphericalEnvMap: #pink;"></a-entity>

      <a-entity geometry="primitive: plane; width: 10000; height: 10000;" rotation="-90 0 0"
        material="src: #grid; repeat: 10000 10000; transparent: true;metalness:0.6; roughness: 0.4; sphericalEnvMap: #sky;">
      </a-entity>

      <a-sky src="#sky" rotation="0 -90 0"></a-sky> -->
  </a-scene>
</body>

</html>